//primary colors
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
//neutral colors
$white: hsl(0, 0%, 100%);
$dark-saturated: hsl(236, 21%, 26%);
$dark-blue: hsl(235, 16%, 14%);
$blackish-blue: hsl(234, 17%, 12%);
