@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap');

/* Estilos para el contenedor de partículas */
#particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-blue: hsl(242, 90%, 12%);
}
body {
  background: url('./images/atanasio.png') bottom right 20% no-repeat,
    url('./images/cielo.gif');
  background-color: var(--dark-blue);
  background-size: 100% 60%; /* Ajusta los valores según tus necesidades */
  min-height: 100vh;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
}

